<%= comfy_form_for(@post, html: {class: "new_blog_post", id: "new_blog_post"}) do |f| %>

  <%= f.text_field :title, placeholder: t(:give_your_post_a_title, scope: 'blogit.posts') %>
  <%= f.text_area :body, placeholder: t(:write_something_here, scope: 'blogit.posts'), :"data-rich-text" => 'true' %>

  <!--
  <fieldset>
    <%# field id: "new_blog_post_tag_field" do %>
      <%# f.label :tag_list, t(:tags, scope: 'blogit.posts') %>
      <%# f.text_field :tag_list, placeholder: t(:tag_placeholder, scope: 'blogit.posts') %>
    <%# end %>

    <p class="blog_post_tip">
      <%#t :tip_you_can_style_your_post_using, scope: 'blogit.posts', parser: blogit_conf.default_parser %>
    </p>
  </fieldset>
  -->
  <%= f.select :type_id, Blogit::Type.to_options %>

  <div class="form-actions">
    <%= f.submit %> <%=t :or, scope: 'blogit.posts'%>
    <%= link_to(t(:cancel, scope: 'blogit.posts'), blog_root_path)  %>
  </div>

<% end %>
