<% if defined?(for_admin_index) and for_admin_index %>
  <tr>
    <%= content_tag(:article, id: "blog_post_#{post.id}", class: "blog_post_gist") do %>
      <td>
        <div class="all category <%= params[:type] == post.type.name ? 'active' : 'inactive'%> <%= "tagged_#{post.type.name}" %>">
          <%= link_to post.type.name.titlecase, blogit_path(type: post.type.name) %>
        </div>
      </td>
      <td>
        <%= render "blogit/posts/post_head", post: post %>
        <%= render "blogit/posts/post_gist", post: post %>
      </td>
      <td>
        <%= "by: <strong>#{post.blogger_display_name}</strong>".html_safe if post.blogger %>
        <br>
        <%= time_tag(post.created_at, :format=>'%B %d, %Y %l:%M %p') %>
      </td>
      <td>
      <%= render "blogit/posts/post_links", post: post %>
      </td>
    <% end %>
  </tr>
<% else %>
  <%= content_tag(:article, id: "blog_post_#{post.id}", class: "blog_post") do %>
    <%# Render the header for this blog post %>
    <%= render "blogit/posts/post_head", post: post %>
    <%# Render the body of this blog post %>
    <%= render "blogit/posts/post_body", post: post %>
    <%# Render admin links to edit/delete this post %>
    <%= render "blogit/posts/post_links", post: post %>
    <%# Render info about the person who wrote this post %>
    <%= render "blogit/posts/blogger_information", post: post %>
    <%# Render the no. of comments %>
    <%#= render "blogit/posts/comments_count", post: post if defined?(show_comments_count) and show_comments_count %>
  <% end %>
<% end %>
